.out, .in {
    align-items: center;
    background-color: #1E88E5;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 30rem;
    justify-content: center;
    text-align: center;
}
.in {
    background-color: #E53935;
}
.columns {
    display: flex;
    justify-content: space-between;
}

.columns, .column{
    margin-left:0;
}

h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    background-color: #33C3F0;
    padding-top: 10px;
    border: solid #33C3F0;
    border-radius: 5px;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.calendar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.formRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}



.row > .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body {
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Flag_of_Denver%2C_Colorado.svg/1200px-Flag_of_Denver%2C_Colorado.svg.png"); */
}

.container {
    border: 2px solid #33C3F0;
    border-style: solid;
    border-width: 2px 35px 2px 35px;
    border-radius: 5px;
    margin: 10px auto;   
}

/* @media only screen and (max-width:600px) {
    .container{
        display: block;
        width: 100%;
    }
} */

/* .test3 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
} */

/* .test1 {
    display: flex;
    width: 100%;
}

.test2 {
    flex: 1;
    padding: 1em;
    border: solid;
} */

.navButtons {
    display: flex;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: auto;
}

#prev {
    border-bottom: 2px solid white;
}

#next {
    border-bottom: 2px solid white;
}

.eventItems {
    border-style: solid;
    border-color: lightgray;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #33C3F0;
   }

.list-group-item {
    color: black;
}

.panel {
    background-color: #33C3F0;
    color: rgb(23, 87, 170);
    text-align: center;
    /* padding-left: 20px; */
}

#map {
    height: 400px;
    width: 100%;
    background-color: brown;
}

/* .test4 {
    min-width: 300px;
} */

/* Larger than mobile
@media (min-width: 400px) {}

/* Larger than phablet */
/* @media (min-width: 550px) {} */

/* Larger than tablet */
/* @media (min-width: 750px) {} */

/* Larger than desktop */
/* @media (min-width: 1000px) {} */

/* Larger than Desktop HD */
/* @media (min-width: 1200px) {} */ */

/* @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } */
  
/* Rounded switch
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> */

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }