.out, .in {
    align-items: center;
    background-color: #1E88E5;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 30rem;
    justify-content: center;
    text-align: center;
}
.in {
    background-color: #E53935;
}
.columns {
    display: flex;
    justify-content: space-between;
}

.columns, .column{
    margin-left:0;
}

h2 {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 4px;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.calendar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.formRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.row > .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    border: 2px solid lightskyblue;
    border-style: solid;
    border-width: 2px 2px 2px 35px;
    border-radius: 5px;
    margin: 10px auto;
    
}

@media only screen and (max-width:600px) {
    .container{
        display: block;
        width: 100%;
    }
}



.test3 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;    
}

/* .test1 {
    display: flex;
    width: 100%;
}

.test2 {
    flex: 1;
    padding: 1em;
    border: solid;
} */

.navButtons {
    display: flex;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: auto;
}

.eventItems {
    border-style: solid;
    border-color: lightgrey;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
   }

.panel {
    background-color: lightskyblue;
    color: rgb(23, 87, 170);
    text-align: center;
    /* padding-left: 20px; */
}

/* .test4 {
    min-width: 300px;
} */

/* @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } */
  
/* Rounded switch
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> */