.out, .in {
    align-items: center;
    background-color: #1E88E5;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 30rem;
    justify-content: center;
    text-align: center;
}
.in {
    background-color: #E53935;
}
.columns {
    display: flex;
    justify-content: space-between;
}

.columns, .column{
    margin-left:0;
}

h2 {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 4px;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.calendar {
    display: flex;
    justify-content: flex-end;
}

.formRow {
    display: flex;
    justify-content: space-between;
}

.row > .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    margin: 20px auto;
}

.navButtons {
    display: flex;
    justify-content: center;
}

.eventItems {
    border-style: solid;
    border-color: lightgrey;
    padding: 20px;
    margin: 20px;
   }

.panel {
    background-color: lightskyblue;
    color: rgb(23, 87, 170);
    text-align: center;
    padding: 20px;
}

/* @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } */
  
/* Rounded switch
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> */